<ion-header>
	<ion-navbar>
		<ion-title>
			Connexion
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<p>{{message}}</p>

	<ion-list [formGroup]="loginForm">
		<ion-item>
			<ion-label stacked>Email</ion-label>
			<ion-input type="email" formControlName="email"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label stacked>Mot de passe</ion-label>
			<ion-input type="password" formControlName="password"></ion-input>
		</ion-item>
	</ion-list>
	<button ion-button color="dark" block (click)="login()">Connexion</button>
	<br>
	<button ion-button color="light" block (click)="clickPassword($event)">Mot de passe oublié ?</button>
	<button ion-button color="light" block (click)="clickRegister($event)">Créer un compte</button>

</ion-content>
