<ion-header>
	<ion-navbar>
		<ion-title>
			Créer un compte
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<p>{{message}}</p>

	<ion-list [formGroup]="registerForm">
		<ion-item>
			<ion-label stacked>Nom</ion-label>
			<ion-input type="text" formControlName="name"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label stacked>Email</ion-label>
			<ion-input type="email" formControlName="email"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label stacked>Mot de passe</ion-label>
			<ion-input type="password" formControlName="password"></ion-input>
		</ion-item>
	</ion-list>
	<button ion-button color="dark" block (click)="register()">Inscription</button>

</ion-content>
