<ion-tabs>
	<ion-tab [root]="tab1Root" tabTitle="Films" tabIcon="film"></ion-tab>
	<ion-tab [root]="tab2Root" tabTitle="Recherche" tabIcon="search"></ion-tab>
	<ion-tab [root]="tab3Root" tabTitle="Profil" tabIcon="person"></ion-tab>
</ion-tabs>
