<ion-header>
	<ion-navbar>
		<ion-title>
			Hello {{userName}} !
		</ion-title>
	</ion-navbar>

	<ion-toolbar>
		<ion-segment [(ngModel)]="tabs">
			<ion-segment-button value="stats">
				Mes stats
			</ion-segment-button>
			<ion-segment-button value="toSee">
				Films à voir
			</ion-segment-button>
			<ion-segment-button value="seen">
				Films vus
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div [ngSwitch]="tabs">

		<div *ngSwitchCase="'stats'">
			<ion-card *ngIf="runtime || countMovieAll">
				<ion-card-header>
					<h2>Moi et mes films</h2>
				</ion-card-header>
				<ion-card-content>
					<p *ngIf="runtime">Temps passé au cinéma : {{time}}</p>
					<p *ngIf="countMovieAll">Total des film vus : {{countMovieAll}}</p>
				</ion-card-content>
			</ion-card>

			<ion-card *ngIf="countMovieMonth || countMovieYear">
				<ion-card-header>
					<h2>Films vus en ...</h2>
				</ion-card-header>
				<ion-card-content>
					<p *ngIf="countMovieMonth">{{month}} : {{countMovieMonth}}</p>
					<p *ngIf="countMovieYear">{{year}} : {{countMovieYear}}</p>
				</ion-card-content>
			</ion-card>

			<ion-card *ngIf="countMovieToSeeRe || countMovieToSeeUp">
				<ion-card-header>
					<h2>Films à voir ...</h2>
				</ion-card-header>
				<ion-card-content>
					<p *ngIf="countMovieToSeeRe">sortis : {{countMovieToSeeRe}}</p>
					<p *ngIf="countMovieToSeeUp">non sortis : {{countMovieToSeeUp}}</p>
				</ion-card-content>
			</ion-card>

			<ion-card *ngIf="countLike || countDislike">
				<ion-card-header>
					<h2>J'aime ou j'aime pas ?</h2>
				</ion-card-header>
				<ion-card-content>
					<p *ngIf="countLike">J'aime : {{countLike}}</p>
					<p *ngIf="countDislike">J'aime pas : {{countDislike}}</p>
				</ion-card-content>
			</ion-card>

			<h3 *ngIf="userMoviesToSee?.length <= 0 && userMoviesSeen?.length <= 0" text-center>Aucune donnée...</h3>

			<button ion-button block color="danger" (click)="logout()">Déconnexion</button>
		</div>


		<div *ngSwitchCase="'toSee'">
			<ion-list *ngIf="userMoviesToSee?.length > 0; else elseBlock">
				<ion-item-sliding *ngFor="let movie of userMoviesToSee">
					<ion-item (click)="clickMovie(movie.id)">
						<ion-thumbnail class="ma_img_list" item-left>
							<img [src]="'http://image.tmdb.org/t/p/w154' + movie?.poster"/>
						</ion-thumbnail>
						<h2>{{movie.title}}</h2>
						<p>{{movie.release_date | date:'shortDate'}}</p>
					</ion-item>
					<ion-item-options side="right">
						<button ion-button color="danger" (click)="removeMovie(movie.id)">Supprimer</button>
					</ion-item-options>
				</ion-item-sliding>
			</ion-list>

			<ng-template #elseBlock>
				<h3 text-center>Aucun film à voir</h3>
			</ng-template>
		</div>


		<div *ngSwitchCase="'seen'">
			<ion-list *ngIf="userMoviesSeen?.length > 0; else elseBlock">
				<ion-item-sliding *ngFor="let movie of userMoviesSeen">
					<ion-item (click)="clickMovie(movie.id)">
						<ion-thumbnail class="ma_img_list" item-left>
							<img [src]="'http://image.tmdb.org/t/p/w154' + movie?.poster"/>
						</ion-thumbnail>
						<h2>{{movie.title}}</h2>
						<p>{{movie.release_date | date:'shortDate'}}</p>
					</ion-item>
					<ion-item-options side="right">
						<button ion-button color="danger" (click)="removeMovie(movie.id)">Supprimer</button>
					</ion-item-options>
				</ion-item-sliding>
			</ion-list>

			<ng-template #elseBlock>
				<h3 text-center>Aucun film vu</h3>
			</ng-template>
		</div>
		
	</div>
</ion-content>