<ion-header>
    <ion-navbar>
        <ion-title>
            Films
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list id="list">

        <ion-item *ngFor="let movie of movies" (click)="clickMovie(movie.id)" [attr.id]="movieFocus == movie.id ? 'focus' : ''">
            <ion-thumbnail class="ma_img_list" item-left>
                <img [src]="'http://image.tmdb.org/t/p/w154' + movie?.poster_path"/>
            </ion-thumbnail>
            
            <h2>{{movie.title}}</h2>
            <p>{{movie.release_date | date:'shortDate'}}</p>
        </ion-item>

    </ion-list> 
</ion-content>