<ion-header>
	<ion-navbar>
		<ion-title>
			Recherche
		</ion-title>
	</ion-navbar>
	<ion-toolbar>
		<ion-searchbar placeholder="Recherche par titre" (keyup.enter)="validSearch($event)" (ionInput)="getMovieSearch($event)"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content>
	
	<ion-list>
		<ion-item *ngFor="let movie of moviesSerach" (click)="clickMovie(movie.id)">
            <ion-thumbnail class="ma_img_list" item-left>
                <img [src]="'http://image.tmdb.org/t/p/w154' + movie?.poster_path"/>
            </ion-thumbnail>
            <h2>{{movie.title}}</h2>
            <p>{{movie.release_date | date:'shortDate'}}</p>
        </ion-item>
	</ion-list>

</ion-content>


        
