page-movie {

    button#active{
        background: #387ef5;
        color: #fff;
    }
    .top_movie{
        text-align: center;
        h1{
            margin: 2px 0;
        }
        p{
            overflow: inherit;
            margin: 0 0 2px;
            font-size: 1.4rem;
            line-height: normal;
            text-overflow: inherit;
            color: #666;
        }
    }
    .poster{
        display: block;
        margin: 1em auto;
    }
    .btn{
        button{
            width: calc(50% - 6px);
            box-sizing: border-box;
        }
    }
    .info{
        .title{
            font-weight: 700;
        }
        .name{
            &::after{
                content:" / ";
                display: inline;
                
            }
            &:last-child:after{
                display: none;
            }
        }
    }
    .overview{
        text-align: justify;
    }
    .crew{
        .avatar{
            width: 100px;
            height: auto;
            margin-right: 15px;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}
