<ion-header>
    <ion-navbar>
        <button menuToggle *ngIf="!selectedMovie">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{selectedMovie?.title}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="top_movie">
        <h1>{{selectedMovie?.title}}</h1>
        <p>{{date | date:'shortDate'}}</p>
    </div>

    <img class="poster" *ngIf="selectedMovie" [src]="'http://image.tmdb.org/t/p/w154' + selectedMovie?.poster_path"/>

    <button *ngIf="urlVideo != null" ion-button block color="light" (click)="clickUrl(urlVideo)">Bande d'annonce</button>
    
    <div class="btn" *ngIf="fbauth | async">
        <button ion-button color="light" (click)="clickToSee(selectedMovie.id)" (class.toSee)="toSee" [attr.id]="state == 'toSee' ? 'active' : ''" >A voir</button>
        <button ion-button color="light" (click)="clickSeen(selectedMovie.id, 0)" (class.seen)="seen" [attr.id]="state == 'seen' ? 'active' : ''">Vu</button>
    </div>
     <div class="btn" *ngIf="state == 'seen'">
        <button ion-button color="light" (click)="clickLike(selectedMovie.id, 1)" (class.like)="like" [attr.id]="like == 'like' ? 'active' : ''" >J'aime</button>
        <button ion-button color="light" (click)="clickLike(selectedMovie.id, 2)" (class.dislike)="dislike" [attr.id]="like == 'dislike' ? 'active' : ''">J'aime pas</button>
    </div>

    <div class="info" *ngIf="selectedMovie?.genres.length > 0">
        <p>
            <span class="title">Genres :</span> 
            <span class="name" *ngFor="let genre of selectedMovie?.genres">{{genre?.name}}</span>
        </p>
    </div>

    <div class="info" *ngIf="selectedMovie?.runtime != 0">
        <p>
            <span class="title">Durée :</span> {{time}}
        </p>
    </div>

    <div class="overview">
        <p>{{selectedMovie?.overview}}</p>
    </div>

    <ion-list *ngIf="directors?.length > 0" class="crew">
        <h2 text-center>Équipe</h2>

        <ion-item *ngFor="let person of directors">
            <div class="avatar" item-left>
                <img *ngIf="person.profile_path !=null" [src]="'http://image.tmdb.org/t/p/w154' + person.profile_path"/>
                <img *ngIf="person.profile_path == null" src="assets/img/avatar.png">
            </div>
            <h2>{{person.name}}</h2>
            <p>Réalisateur</p>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="cast?.length > 0" class="crew" >
        <h2 text-center>Casting</h2>

        <ion-item *ngFor="let actor of cast | slice:0:5">
            <div class="avatar" item-left>
                <img [src]="'http://image.tmdb.org/t/p/w154' + actor.profile_path"/>
            </div>
            <h2>{{actor.name}}</h2>
            <p *ngIf="actor.character">Rôle: {{actor.character}}</p>
        </ion-item>
    </ion-list>
    
</ion-content>
