<ion-header>
	<ion-navbar>
		<ion-title>
			Mot de passe oublié ?
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<p>{{getMessage()}}</p>

	<ion-list [formGroup]="passwordForm">
		<ion-item>
			<ion-label stacked>Email</ion-label>
			<ion-input type="email" formControlName="email"></ion-input>
		</ion-item>
	</ion-list>
	<button ion-button color="dark" block (click)="password()">Valider</button>

</ion-content>
